Features.csv
Dataset
.idea
.venv
NuovoDataset
Dataset1
Dataset2
Dataset3
Dataset4
Dataset5
Preprocessing2.ipynb
data
nogit/simple_audio.ipynb
nogit/segmented_files.json
nogit/spectrogram_files.json
nogit/normalized_files.json
distribuzioneClassi.ipynb
nogit/resnet18.ipynb
nogit/PreProBeN.ipynb
nogit