Features.csv
Dataset
.idea
.venv
Preprocessing2.ipynb
nogit
AddestramentoGoogleNet.ipynb
ProvaAugmnetation.ipynb
processed_files.log
unificazioneCartelle.ipynb
audio_file_cleaner.ipynb
dataAugmentation.ipynb
dataAnalisys.ipynb
converImageToAudio.ipynb
Prova