.idea
.venv
nogit
AddestramentoGoogleNet.ipynb
dataAugmentation.ipynb
dataAnalisys.ipynb
Prova
DatasetBinario
DatasetPiccolo
ModelliBinarioBilanciato
Metriche
NONTOCCARE
AddestramentoGoogleNetMulticlasse.ipynb